/*STYLES*/

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  color: black;
}

/*HEADER*/

header {
  color: white;
}

.header-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  justify-content: space-between;
  background-color: black;
  border-bottom: black;
  box-shadow: black -5px 20px 10px 20px;
}

.header-container .logo {
  align-items: center;
  margin: 20px;
  justify-content: flex-start;
}

.header-container .logo img {
  width: 400px;
  height: 100px;
  object-fit: contain;
}

.header-container .nav-container {
  display: flex;
  align-items: center;
  margin: 20px;
  padding-right: 20px;
}

.header-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container ul li {
  width: 50px;
  list-style: none;
  font-size: 12px;
}

.header-container ul li:hover {
  text-decoration: underline solid;
  cursor: pointer;
}

/*SOCIAL NAV*/

.social-nav-container {
  position: fixed;
  left: 0;
  top: 180px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  box-shadow: gray 5px 1px 8px 1px;
  border-radius: 5px;
  background-color: white(0.74);
}

.social-nav {
  width: 30px;
  height: 70px;
}

.social-nav-container img {
  width: 100%;
}

.buildzoom {
  padding: 4px;
}

/*MAIN CONTENT*/

.content-container {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  width: 100%;
  color: black;
}

.content-container h2 {
  padding: 20px;
}

.content-container img {
  width: 100%;
  height: 521px;
  object-fit: cover;
  object-position: center;
}

/*TOPPER*/

.content-topper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200;
  gap: 50px;
  padding: 50px;
}

.content-topper img {
  width: auto;
  height: 200px;
  object-fit: contain;
  border-radius: 45%;
  box-shadow: gray 5px 1px 8px 1px;
}

.content-topper h3 {
  font-size: 28px;
  padding: 50px;
  align-content: center;
  text-align: left;
  box-shadow: gray 10px 10px 14px 1px;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
}

/*IMAGE WRAPPER*/

.portfolio-image-list {
  display: flex;
  align-items: center;
  padding: 50px;
}

.portfolio-list-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.portfolio {
  display: flex;
  flex-direction: column;
  height: 500px;
  box-shadow: gray 10px 10px 14px 1px;
}

.portfolio-img-wrapper {
  width: 160px;
  overflow: hidden;
}

.portfolio-img-wrapper img {
  object-fit: cover;
  width: 100%;
}

/*SECTIONS*/

.section-container {
  background-color: rgb(230, 230, 230);
  border-radius: 3px;
  width: 100%;
  margin: 40px;
  padding: 20px;
  box-shadow: gray 5px 5px 14px 1px;
}

.section-container p {
  line-height: 1.5;
}

.section-container h3 {
  margin: 20px;
}

/*SECTIION 1*/

#section-1 {
  display: flex;
  width: 80%;
  margin-right: 40%;
  align-items: center;
  gap: 20px;
}

#section-1 .section-text {
  text-align: center;
}

#section-1 img {
  width: 300px;
  height: 300px;
  object-fit: scale-down;
}

/*SECTION 2*/

#section-2 {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  margin-left: 15%;
  align-items: center;
  gap: 20px;
}

#section-2 img {
  width: 300px;
  height: 300px;
  object-fit: scale-down;
}

#section-2 .section-text {
  text-align: center;
}

/*SECTION-MID*/

.section-mid {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  color: white;
  box-shadow: black 1px -20px 10px 40px;
}

.section-mid .img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.img-wrapper img {
  height: 300px;
  width: auto;
  object-fit: scale-down;
  box-shadow: rgba(255, 0, 0, 0.479) 1px 1px 30px 2px;
  border-radius: 5px;
}

#img1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding-left: 40px;
  gap: 50px;
}

#img2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  width: 80%;
  gap: 50px;
}

#img3 {
  display: flex;
  align-items: center;
  width: 60%;
  gap: 50px;
}
